.container {
    display: grid;
    grid-gap: 8px 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 55px);
    margin: auto;
}

/*NAVBAR STYLE*/
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    display: flex;
    justify-content: space-between;
    float: left;
    border-right: 1px solid #bbb;
}

    li a {
        justify-content: space-between;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 200px;
        text-decoration: none;
        justify-content: space-between;
    }


        li a:hover {
            background-color: #111;
        }

.grid-item-2 {
    grid-row: 2;
    grid-column: 2;
    background-color: #232123;
    color: white;
    border-radius: 25px;
    text-align: center;
}

.grid-item-3 {
    grid-row: 2;
    grid-column: 5;
    background-color: #232123;
    color: white;
    border-radius: 25px;
    text-align: center;
}

.grid-item-4 {
    grid-row: 4;
    grid-column: 1;
    font-family: 'Dosis', sans-serif;
}

.grid-item-5 {
    grid-row: 4;
    grid-column: 3;
    font-family: 'Dosis', sans-serif;
}

.grid-item-6 {
    grid-row: 4;
    grid-column: 4;
    font-family: 'Dosis', sans-serif;
}

.grid-item-7 {
    grid-row: 4;
    grid-column: 6;
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Dosis', sans-serif;
}
